node_modules
.next
out
.git
.gitignore
.dockerignore
*.md
.env
.env.*
!.env.example
coverage
**/coverage
*.test.ts
**/*.test.ts
*.spec.ts
**/*.spec.ts
e2e
playwright-report
playwright/.cache
test-results
.vitest
*.log
coverage.json
